@charset "UTF-8";

    @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bitcount+Grid+Single:wght@100..900&display=swap');

    @font-face {
            font-family: "idroid";
            src: url(../fonts/idroid.otf) format("opentype");
            font-weight: normal;
    }

/*  
    PALETA DE CORES DO PROJETO

    #c5ebd6
    #83e1ad
    #3ddc84
    #2fa866
    #1a5c37
    #063d1e

*/

    :root{
        --cor0: #c5ebd6;
        --cor1: #83e1ad;
        --cor2: #3ddc84;
        --cor3: #2fa866;
        --cor4: #1a5c37;
        --cor5: #063d1e;
        
        --fonte-padrao: Arial, Helvetica, sans-serif;
        --fonte-destaque: "Bebas Neue", sans-serif;
        --fonte-android: "idroid", sans-serif;
    }
    
    *{
        margin: 0;
        padding: 0;
    }
    

    body{
        background-color: var(--cor0);
        font-family: var(--fonte-padrao);        
    }   
    a[target="_blank"]::after{
        content: '\00A0\1F517';
    }

    header{
        background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
        min-height: 150px;
        text-align: center;
        padding-top: 40px;
    }

    header > h1{
        color: white;
        font: normal 3em var(--fonte-destaque); 
        margin-bottom: 20px;
        text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.253);
    }

    header > p{
        color: white;
        font-size: 1.2em;
        max-width: 500px;
        display: inline;
        padding: 0 10px 0 10px;
        text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.253);
        margin-bottom: 20px;
    }

    nav{
        background-color: var(--cor5);
        text-align: center;
        padding: 15px;
        box-shadow: 0 7px 7px rgba(0, 0, 0, 0.274)
        ;
    }

    nav > a{
        display: inline-block;
        color: var(--cor1);
        text-decoration: none;
        border-radius: 5px;
        padding: 15px;
        font-weight: bold;
        transition: all .3s ease-in-out;       
    }


    nav > a:hover{
        background-color: var(--cor3);
        color: var(--cor5);
        transform: scale(1.2) translateY(-5px);
    }

    main{
        min-width: 200px;
        max-width: 1000px;
        margin: auto;
        margin-bottom: 30px;
        padding: 20px;
        background-color: white; 
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.404);
        border-radius: 0 0 10px 10px;
    }

    main h1{
        color: var(--cor5);
        font: normal 1.8em var(--fonte-android);
    }

    main h2{
        font: normal 1.3em var(--fonte-android);
        color: var(--cor4);
        background-image: linear-gradient(to right, var(--cor1), transparent);
        text-indent: .5em;
    }

    main img{
        width: 100%;
    }

    main p{
        margin: 15px 0;
        text-align: justify;
        text-indent: 1em;
        line-height: 2em;
    }

    main strong{
        color: var(--cor4);
    }

    main a{
        text-decoration: none;
        font-weight: bold;
        color: var(--cor5);
        background-color: var(--cor1);
        padding: 3px 5px;
        border-radius: 5px;
    }

    main a:hover{
        color: var(--cor4);
        text-decoration: underline;
    }


    .iframe_conteiner{
        background-color: #063d1e;
        position: relative;
        width: 100%;
        height: 0;
        margin: 0 -20px 30px -20px;
        padding: 20px;
        padding-bottom: 56.25%;
    }

    .iframe_conteiner iframe{
        position: absolute;
        top: 5%;
        left: 5%;
        width: 90%;
        height: 90%;
    }

/*
    main .video{
        max-width: 120%;
        padding-top: 58.5%;
        background-color: var(--cor5);
        margin: 20px -20px;
        position: relative;
        box-shadow: 0 1px 5px 3px rgba(0, 0, 0, 0.329);
        
    }
    
    .video > iframe{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        transform: scale(0.92);
    }
*/
    .pequena{
        display: block;
        max-width: 350px;
        margin: auto;
    }

    aside{
        background-color: var(--cor1);
        padding: 10px;
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.301);
    }

    aside > h3{
        background-color: var(--cor4);
        color: #fff;
        margin: -10px -10px 0 -10px;
        padding: 10px;
    }

    aside > ul{
        list-style-position: inside;
        columns: 2;
        list-style-type: '\2714\00A0\00A0';
        
    }

    aside  a{
        background-color: #1a5c37;
        color: var(--cor1)
    }
    
    footer{
        background-color: var(--cor5);
        color: white;
        text-align: center;
        font-size: 0.8em;
        padding: 5px;
    }

    footer a{
        color: #fff;
        text-decoration: none;
        font-weight: bolder;
    }

    footer a:hover{
        text-decoration: underline;
        color: var(--cor1)
    }
        
        